/* Documento CSS */

body {
	background:#F7F7F7; /* Cinza fundo */
}

label {
	text-align:left;
	float:left;
	margin-left:25%;
}

form {
	text-align:center;
	height:550px;   /* Altura */
	border:2px solid;
	border-color:#E0E0E0; /* Cinza borda*/
	color:#828282; /* Cinza letra */
	font-weight: 700;
}

h1{
	font-size:16px;
	color:#6C41D7; /* Roxo */
	font-family:Arial;
	font-weight:800;
}

p1 {
	color:#828282;
}

*:focus {
	outline: none;
}

/* ID */
#menu {
	background:#FFFFFF; 
	position:absolute;
	width:370px;   /* Largura */
	height:550px;   /* Altura */
	margin-left:35%;
	margin-top:7%;
	border-width:2px;
}

#status {
	margin-left:20%;
}

#validacaoA1 {
	width:70px;   /* Largura */
	height:7px;   /* Altura */
	background:#EDEDED; /* Cinza */
	position:relative;
	float:left;
}

#validacaoA2 {
	width:70px;   /* Largura */
	height:7px;   /* Altura */
	background:#EDEDED; /* Cinza */
	position:relative;
	float:left;
	margin-left:5px;
}

#validacaoA3 {
	width:70px;   /* Largura */
	height:7px;   /* Altura */
	background:#EDEDED; /* Cinza */
	position:relative;
	float:left;
	margin-left:5px;
}

#condicao {
	width:200px;   /* Largura */
	margin-left:60px;
	text-align:left;
}

#bt_cadastrar {
	width:200px;  /* Largura */
	height:30px;  /* Altura */
	background:#6C41D7; /* Roxo */
	color:#FFFFFF; /* Branco */
	margin-left:25%;
	line-height:30px;
}
